@model List<ViewContenidoValorado>
<div class="bg-slate-900 py-5">
    <h3 class="mb-4 text-2xl font-bold">@ViewData["Title"]</h3>
    <div class="grid grid-cols-6 gap-4 max-sm:grid-cols-3 max-lg:grid-cols-4">
        @foreach (var serie in Model)
        {
            <a asp-controller="Contenidos" asp-action="Detalles" asp-route-idcontenido="@serie.Id_Contenido">
                <div class="serie-item cursor-pointer" data-title="@serie.Titulo" data-image="@serie.Imagen">
                    <img src="~/images/posters/@serie.Imagen" alt="@serie.Titulo" class="w-full rounded-lg" />
                    <p class="mt-2 text-center text-sm">@serie.Titulo</p>
                    <p class="text-center text-sm">Nota media: @serie.NotaMedia</p>
                </div>
            </a>
        }
    </div>
</div>

